@import "tailwindcss";

@theme {
  --color-heritage-green: #1B4332;
  --color-heritage-cream: #FDF6EC;
  --font-sans: var(--font-mulish), sans-serif;
  --font-serif: var(--font-marcellus), serif;
}

body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6{
  font-family: var(--font-marcellus), serif;
}